In [1]:
import textblob
import pandas as pd
import numpy as np
from textblob_de import TextBlobDE
import matplotlib.pyplot as plt
import random

In [2]:
df = pd.read_csv('kbClean.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3304 entries, 0 to 3303
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         3304 non-null   int64
 1   NameKlinik         3304 non-null   object
 2   Erfahrungsbericht  3304 non-null   object
 3   Gesamt             3304 non-null   float64
 4   QualBeratung       3304 non-null   float64
 5   MedBehandlung      3304 non-null   float64
 6   VerwalAblaeufe     3304 non-null   float64
 7   Zufriedenheit      3304 non-null   object
dtypes: float64(4), int64(1), object(3)
memory usage: 206.6+ KB

In [9]:
df.head()

,Unnamed: 0,NameKlinik,Erfahrungsbericht,Gesamt,QualBeratung,MedBehandlung,VerwalAblaeufe,Zufriedenheit
0,0,HEH Herzogin Elisabeth Hospital,Sehr höfliche und hilfsbereite Mitarbeiter. S...,5.0,5.0,5.0,5.0,pos
1,1,HEH Herzogin Elisabeth Hospital,Kann ich nur weiterempfehlen!! Sehr gutes Pfle...,5.0,3.7,5.0,3.7,pos
2,2,HEH Herzogin Elisabeth Hospital,Bestens durchorganisiert.gutes Personal geht i...,5.0,5.0,5.0,5.0,pos
3,3,HEH Herzogin Elisabeth Hospital,Bin nach einem Autounfall im HEH gewesen und h...,5.0,5.0,5.0,5.0,pos
4,4,HEH Herzogin Elisabeth Hospital,Wurde bereits im Sept. 2020 am Knie operiert. ...,5.0,5.0,5.0,5.0,pos